button:focus{
    outline: none;
}

.draw-button{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border-color: black;
    background-color: rgb(179, 19, 152);
    display: block;
    font-size: 15px;
    cursor: pointer;
}

.size-input, .color-input{
    width: 270px;
    height: 60px;
    padding-right: 10px;
    border-radius: 15px;
    border-color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
}

input:focus{
    outline: none;
}
.size-input:active{
    outline: none;
}

.circle-div{
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 50%;
}